@media(max-width: 600px) {
    body{
        padding: 0;
    }
    .main_header{
        background-color: #262e2a;
    }
   .video-container{
       display: none;
       
;   }
    .main_h1{
        font-size: 30px;
    }
    .main_h2{
        font-size: 16px;
        margin-top: 10px;
    }
    
    .giftcards{
        display: none;
    }

    .intro{
        flex-direction: column;
    }

    .intro_h1{
        font-size: 30px;
        text-align: center;
        width: 30%;
    }
    .intro_text{
        font-size: 16px;
        width: 30%;
        text-align: center;
        margin-bottom: 20px;
    }

    .second_h1{
        font-size: 30px;
        margin-top: 50px;
        text-align: center;
        width: 30%;
    }

    .friend_box{
       margin-right: auto;
       margin-left: auto;
    }

    .footer{
        flex-direction: column;
        width: 100%;
    }
    .footer-container{
        width: 100%;
    }
    .footer-box{
        padding: 0;
        margin-top: 2rem;
        text-align: center;
    }
    .footer-box hr{
        width: 100px;
        margin: 20px auto;
    }
    .footer-icons{
        margin: 20px auto;

    }

    /*-------Sign Up Section-------------*/
    .sign-up{
        flex-direction: column;
    }

    /*-----------Intro Section----------*/
    .intro{
        flex-direction: column;
    }
}

