body {
	background: url(../img/adult-alcohol-bar-274192-min.jpg);
	background-size: cover;
	height: 100%;
}
.main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-card {
	margin: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid #333;
	border-radius: 4px;
	padding: 1em;
	width: 300px;
	background-color: #fbfffdde;
	color: rgb(8, 8, 8);
}
.main-card img {
	margin-bottom: 1em;
	border: 1px solid #333;
}
.main-card h3 {
	padding-bottom: 1em;
}
.main-card p {
	padding-bottom: 1em;
}

.main-img {
	height: 350px;
	border-radius: 4px;
}

.team-h1 {
	text-align: center;
	padding: 1em;
	color: #fff;
	text-shadow: 2px 3px 4px #000;
}
