.main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-card {
	margin: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid #333;
	border-radius: 4px;
	padding: 1em;
	width: 400px;
	background-color: rgb(188, 221, 229);
	color: #000;
}
.main-card img {
	padding-bottom: 1em;
}
.main-card h3 {
	padding-bottom: 1em;
}
.main-card p {
	padding-bottom: 1em;
}

.main-img {
	height: 350px;
	border-radius: 4px;
}

.team-h1 {
	text-align: center;
	padding: 1em;
}
