:root {
	--main-white: #fff;
	--main-dark: #333;

	--brown: #2a1e03;
	--video-overlay: #3b464186;
	--green: #262e2a;
	--gold: #d8da79;
	--lightblue: #a6c6c5;
	--beige: #fdfde0;

	--mont: "Montserrat", sans-serif;
	--serif: "Source Serif Pro", serif;
}
/*--------------CORE----------------------*/
body {
	background-color: var(--beige);
}

li {
	list-style: none;
	display: inline-block;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html {
	color: var(--main-dark);
	font-size: 20px;
	font-family: var(--serif);
	font-weight: 400;
}

a {
	text-decoration: none;
	color: var(--beige);
}

#reverse_overflow {
	overflow: visible;
	height: 100px;
	position: fixed;
	background: var(--beige);
	width: 100%;
}

.nav_item {
	color: var(--main-dark);
}

.nav_item:hover {
	cursor: pointer;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--green);
}

header {
	background-color: #333;
	display: flex;
	justify-content: center;
}

header div {
	display: flex;
	align-content: center;
}
header div img {
	padding: 10px;
}
header div img:hover {
	cursor: pointer;
}

.logo_img {
	height: 100px;
}

.menu {
	width: 100%;
	margin: 0px auto;
	padding: 0 2rem;
}
.menu_item {
	padding: 10px 0;
}

.menu_item p {
	font-size: 18px;
}
.menu_h1 {
	font-size: 45px;
	padding-top: 80px;
	text-align: center;
}

.menu_section {
	padding-bottom: 50px;
}
